@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 100vh;
  line-height: 1.3;
  color: #000;

  background-color: rgb(218, 218, 218);
  margin: 0;
}

header,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal-header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  border-bottom: none;
}



.modal-content {
  display: grid;
  overflow: hidden;
  grid-template-columns: 315px 1fr;

  background: #F6F6F6;
  box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.25);
}

.modal-description {
  font-size: 18px;
}

.modal-footer {
  flex-direction: column;
  gap: 10px;

  border-top: none;
  align-items: unset;
  text-align: center;
  padding: 0;

  .modal-footer-description {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: #a1a1a1;
    max-width: 330px;
  }
}

.modal-footer__separator {
  background-color: #fff;
  width: 100%;
}

.modal-body__confirm {
  padding: 50px 0;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form {
  width: 100%;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 74px;

  border: 1px solid #EBEFF7;
  border-radius: 10px;
  padding-left: 30px;
  transition: all .2s ease-in;
  background-color: #EBEFF7;
  color: #145be9;

  &::placeholder {
    font-size: 15px;
    color: #8496B9;
    padding-left: 10px;
  }

  &:focus-visible {
    border: 1px solid #55A9E7;
    outline: #55A9E7;
  }

}

.modal-button {
  position: absolute;
  top: 6px;
  right: 6px;

  padding: 18px 42px;
  cursor: pointer;
  color: #fff;
  background-color: #1F5DDA;
  border-radius: 5px;
  transition: all .3s ease-in;

  &:focus,
  &:hover {
    background-color: #7dc9ff;
    color: #fff;
  }
}

.modal-button_spinner::before {
  position: inherit;
  display: block;
  content: '';
  left: 6px;

  width: 25px;
  height: 25px;
  border: 3px solid #43DDFF;
  border-top-color: #fff;

  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }

}


.modal-button_state-disabled:disabled {
  background: #768298;
}


.modal-title {
  font-weight: 900;
  color: #494949;
}

.modal-header {
  position: relative;
  padding-top: 50px;
}



.modal-header .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #1F5DDA;

  &:hover {
    outline: none;
  }
}

.modal-header .close::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30px;
  height: 30px;

  background: transparent;
  border: 1px solid #1F5DDA;
  border-radius: 7px;
  transition: all .2s ease-in;

}

.modal-header .close__confirm {
  top: -10px;
  right: 10px;
}

.modal-header .close__confirm::before {
  top: 27px;
}

.modal-header .close:hover::before {
  border: 1px solid #1F5DDA;
}

.modal-dialog {
  max-width: 976px;
}

.modal-button.disabled {
  border: 2px solid #C7C7C7;
  color: #505050;
  font-weight: 600;
  background-color: #C7C7C7;
}

//select modal
.modal-select-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(261px, 1fr));
  gap: 50px 30px;
}


.account-balance-input,
.account-balance,
.leverage,
.trading-platform {
  border: none;
  border-bottom: 1px solid #82898D;
  padding-bottom: 10px;
  background: transparent;
  outline: none;
}


.account-balance-input {
  width: 261px;
  padding: 0;
  color: #1F5DDA;
  text-transform: uppercase;

  &::placeholder {
    text-transform: none;
  }
}

.modal-footer-select {
  align-items: center;
  padding-bottom: 50px;
}

.modal-footer-select .modal-button {
  position: unset;
  top: unset;
  left: unset;
}

.account-balance-input {
  width: 100%;
  border-bottom: none;
}


.account__error-notify,
.account__success-notify {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  margin-right: 8px;
  border-radius: 50%;
  background-color: #54FFADDB;
  transition: all .1s ease-in;
}


.modal__note {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}


.modal__required-notify {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-size: 20px;

  padding-bottom: 20px;
  border-bottom: 1px solid #fff;

  &::before {
    display: inline-block;
    text-align: center;
    content: '';

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-image: url('/icon-info-black.svg');
    background-repeat: no-repeat;
    background-position: 44% 3px;
    background-size: 35%;
    background-color: #518BFF;
  }
}



.account-currency__title {
  color: #000;
  font-weight: 900;
  margin-bottom: 20px;
}

.account-currency__option {
  color: #000;
  font-weight: 900;
}

.account-currency__option {
  transition: all .3s ease-in;
}

.account-currency__option:hover {
  color: #1F5DDA;
}

.account-currency__select-box {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.account-currency__options-container {
  position: absolute;
  top: 0;
  left: 0;

  background: #FBFBFB;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 9px;
  overflow: hidden;

  order: 1;
  z-index: 2;
}

.account-currency__selected {
  border-bottom: 1px solid #82898D;
  position: relative;

  order: 0;
}

.account-currency__selected::after {
  content: "";
  background: url("../arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 15px;
  width: 15px;
  right: 10px;
  top: 16px;

  transition: all 0.4s;
}

.account-currency__options-container.active {
  max-height: 240px;
  box-shadow: 0px 26px 40px -20px rgba(45, 49, 55, 0.3);
  opacity: 1;
  overflow-y: scroll;
}

.account-currency__options-container.active+.selected::after {
  transform: rotateX(180deg);
  top: 10px;
}

.account-currency__options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.account-currency__options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}


.account-currency__option,
.account-currency__selected {
  padding: 12px 0;
  cursor: pointer;
}

.account-currency__option {
  padding: 12px 24px;
}

.account-currency__option:hover {
  background: #EBEFF7;
}

.account-currency__label {
  cursor: pointer;
}

.account-currency__radio {
  display: none;
}

.modal-title {
  font-size: 30px;
  max-width: 430px;
  line-height: 36.31px;
}

.modal-description {
  font-size: 1rem;
  max-width: 430px;
}

//error 

.error {
  border-bottom: 1px solid #FF8A8A !important;
}

.account__error-notify-message {
  position: relative;
  top: 10px;
  color: #FF8A8A;
}

.account__error-notify {
  background-image: url('/warning-svgrepo-com.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  background-color: #FF8A8A;
}

.modal__logo-text,
.modal__logo:focus,
.modal__logo:hover {
  text-decoration: none;
}

.modal__logo-text {
  font-size: 20px;
  font-weight: 300;
}

.modal__note-wrapper {
  position: relative;
  margin-bottom: 67px;
}

.modal-img {
  padding: 14px;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url('/banner-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 150%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal__main-content-confirm {
  padding: 50px;
}

.modal__confirm-header {
  padding: 30px 0 0;
  text-align: left;
  align-items: unset;
}

.modal-body__confirm {
  justify-content: unset;
  padding: 50px 0;
}




@media (max-width:991.98px) {
  .modal-input::placeholder {
    font-size: 13px;
  }

  .modal-input {
    padding-left: 10px;
  }

  .modal__main-content-confirm {
    padding: 40px;
  }

}

@media (max-width:767.98px) {
  .modal-content {
    grid-template-columns: 1fr;
  }

  .modal-img {
    background-size: cover;
  }

}

@media (max-width:576.98px) {
  .modal__note-wrapper {
    max-width: 430px;
  }

  .modal__required-notify {
    margin: 0 auto;
  }

  .modal-header {
    padding-top: 67px;
  }

  .modal-footer {
    flex-direction: column;
    align-items: center;
  }

  .modal-button {
    position: unset;
    top: unset;
    left: unset;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
  }

  //confirm 
  .modal-footer__confirm {
    align-items: unset;
  }

  .modal__main-content-confirm {
    padding: 30px 10px;
  }

  .modal-button__confirm {
    width: 100%;
  }

  .modal-title__confirm {
    font-size: 20px;
  }

  .modal-header .close__confirm {
    top: 20px;
    right: 30px;
  }
}